name: DevSecOps CI/CD pipeline

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

env:
  VERSION: "0.0.1"
  GHCR_REGISTRY: ghcr.io
  IMAGE_OWNER: daudamin12
  IMAGE_REPO: devsecops-app
  IMAGE_NAME: ghcr.io/daudamin12/devsecops-app

jobs:
  pipeline:
    name: Build + Scan + Push + Deploy
    runs-on: [self-hosted, Linux, X64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Print version
        run: |
          echo "VERSION=${{ env.VERSION }}"
          echo "IMAGE=${{ env.IMAGE_NAME }}:${{ env.VERSION }}"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.GHCR_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker Image (local)
        run: |
          docker build -t ${{ env.IMAGE_NAME }}:${{ env.VERSION }} ./app

      - name: Scan Image with Trivy (NON-BLOCKING)
        continue-on-error: true
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          format: table
          severity: CRITICAL,HIGH
          ignore-unfixed: true

      - name: Push Image to GHCR
        run: |
          docker push ${{ env.IMAGE_NAME }}:${{ env.VERSION }}
          docker tag  ${{ env.IMAGE_NAME }}:${{ env.VERSION }}  ${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.IMAGE_NAME }}:latest

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/devsecops-app --timeout=180s

      - name: Show Services + Pods
        run: |
          kubectl get pods -o wide
          kubectl get svc -o wide
